body{
    margin: 0px;
    font-size: 15px;
}
.container{
    max-width: 1200px;
    width: 90%;
    height: 100%;
    margin: 0 auto;
}

/*HEADER*/
.header{
    border: 1px solid red;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    background: gray;
}

.header i{
    margin-right:15px ;
}

.menu ul{
    display: flex;
}

.menu ul li{
    list-style-type:none ;
}

.menu ul li a {
    text-decoration: none;
    color:rgba(3, 3, 3, 0.596);
    margin-left: 32px;
}
/*ENDHEADER*/

.seccion1 {
    border: 1px solid red;
    background-image: url('../img/invernaderos.jpg');
    background-repeat:no-repeat;
    margin: 10px;
    background-size:100% ;
    padding-bottom: 150px;
}


.seccion1 h1,h3{
    color: rgb(83, 47, 38);
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container h1{   
    align-items: center;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: green;
    padding: 8px;
}

.seccion2{
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    background: rgb(156, 182, 166);
}

.card1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 300px;
    width: 400px;
    margin: 10px;
}

.card1 img{
    margin-top: 30px;
    height: 100%;
    width: 100%;

}
